@import "../../../App.scss";

.button {
    margin-top: 5em;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    display: inline-block;
    transition: 0.3s ease;
    cursor: pointer;

    .m {
        margin-top: 0;
    }

    div {
        column-gap: 4px;
    }

    &:hover {
        background-color: var(--secondary-dark-color);
    }
}
