@import "../../App.scss";

.navbar {
    width: 100vw;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    color: var(--white-color);
    transition: 1s all linear;
    // background-color: var(--secondary-color);
    padding-right: 40px;

    ul {
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 10px 5em;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        column-gap: 4em;

        .navLi {
            font-size: 16px;
            transition: 0.2s ease-in;

            a {
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                color: var(--light-grey-color);
                transform: scale(0.9);
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(6px);
        // box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
        // border: 2px solid rgba(255, 255, 255, 0.1);
    }
}

.nav-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &:hover {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 500px) {
    .navbar {
        padding-right: 10px;
    }
}
